<div>
    <div class="card-activity">
        <div class="card" [routerLink]="['/eat']">
            <img src="../../../assets/homepage_resto.jpg" class="image">
            <div class="centered">Catering</div>
        </div>
        <div class="card" [routerLink]="['/houses']">
            <img src="../../../assets/homepage_hotel.jpg" class="image">
            <div class="centered">Hotel</div>
        </div>
        <div class="card" [routerLink]="['/activity']">
            <img src="../../../assets/homepage_activites.jpg" class="image">
            <div class="centered">Activity</div>
        </div>
    </div>
    <div class="background">
        <div class="input">
            <mat-form-field appearance="outline">
                <input [formControl]="researchForm" id="city" matInput placeholder="Where do you want to go ?">
                <mat-icon matSuffix aria-hidden="false" (click)="submitResearch()" aria-label="Example home icon"
                    style="cursor: pointer;">search</mat-icon>
            </mat-form-field>
        </div>

    </div>
</div>

<div class="parent">
    <div *ngIf="displayResults" class="list">
        <div *ngFor="let i of [0,1,2]" class="cardList">
            <mat-card class="example-card">
                <img *ngIf="resultActivity.results[i].images.length === 0" class="displayImg" mat-card-image
                    src="../../../assets/background.png" alt="hotel">
                <img *ngIf="resultActivity.results[i].images.length != 0" class="displayImg" mat-card-image
                    src="{{resultActivity.results[i].images[0].source_url}}" alt="hotel">
                <h2>{{resultActivity.results[i].name}}</h2>
                <mat-card-content>
                    <p>
                        {{resultActivity.results[i].snippet}}
                    </p>
                    <p> score : {{resultActivity.results[i].score}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngFor="let i of [0]" class="cardList">
            <mat-card class="example-card">
                <img *ngIf="resultEat.results[i].images.length === 0" class="displayImg" mat-card-image
                    src="../../../assets/background.png" alt="hotel">
                <img *ngIf="resultEat.results[i].images.length != 0" class="displayImg" mat-card-image
                    src="{{resultEat.results[i].images[0].source_url}}" alt="hotel">
                <h2>{{resultEat.results[i].name}}</h2>
                <mat-card-content>
                    <p>
                        {{resultEat.results[i].snippet}}
                    </p>
                    <p> score : {{resultEat.results[i].score}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <div *ngFor="let i of [0,1]" class="cardList">
            <mat-card class="example-card">
                <img *ngIf="resultHotel.results[i].images.length === 0" class="displayImg" mat-card-image
                    src="../../../assets/background.png" alt="hotel">
                <img *ngIf="resultHotel.results[i].images.length != 0" class="displayImg" mat-card-image
                    src="{{resultHotel.results[i].images[0].source_url}}" alt="hotel">
                <h2>{{resultHotel.results[i].name}}</h2>
                <mat-card-content>
                    <p>
                        {{resultHotel.results[i].snippet}}
                    </p>
                    <p> score : {{resultHotel.results[i].score}}</p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>