.background{
    background: rgba(11, 51, 63, 0.637);
    padding-top: 250px;
    height: 200px;
    margin-left: 20%;
    margin-right: 20%;
}

.input{
    margin-top: -150px;
    padding-right: 0%;
    padding-left: 20%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

mat-form-field {
  width: 70%;
}


h2{
  padding-left: 40%;
}

p{
  padding-left: 40%;
  padding-top: 10px;
}

.card-activity{
    display: flex;
    padding-top: 7%;
    margin-right: 20%;
    margin-left: 6%;
    padding-bottom: 1%;
}

.card{
    position: relative;
    width: 50%;
    left: 10%;
    cursor: pointer;
}

img{
    width: 400px;
    color: black;
    align-content: center;
}

  .image {
    opacity: 1;
    display: block;
    width: 400px;
    height: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .centered {
    position: absolute;
    bottom: 8px;
    left: 40%;
    font-weight: bold;
    color: rgb(37, 49, 107);
    -webkit-text-stroke: 0.75px rgb(100, 98, 98);
    font-size: 30px;
    transform: translate(-50%, -50%);
  }
  
  .card:hover .image {
    opacity: 0.3;
  }
  .card:hover .centered {
    color: black;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
  }  
  .list{
    max-width: 50%;
}

mat-card {
  height: 230px;
  margin-top: -180px;
}

.displayImg {
  max-width: 300px;
  max-height: 200px;
  float: left;
  padding-left: 5%;
  padding-top: 1%;
  overflow: hidden;
}

.parent div{
  width : 100%;
  margin: auto;
  clear: none; 
  margin-top: 10%;    
}

.cardList {
    margin-left: 20%;
    padding-top: 10%;
}