<div>

    <h1 id="title"> Liste activité catégories</h1>
    <div class="parent">
        <div class="filter">

            <section class="example-section">
                <h4 class="title-filter">Filters</h4>
                <p><mat-checkbox>Par note</mat-checkbox></p>
                <hr>
            </section>

        </div>

        <div class="list">
            <div class="card">
                <mat-card class="example-card">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
                        <h1 style="float: right;"> prix </h1>
                    <h2>Nom de l'activitée </h2>
                    <mat-card-content>
                    <p>
                        Description trop cool
                    </p>
                    </mat-card-content>
                    <button [routerLink]="['/activitydetail']" > voir details </button>
                </mat-card>
            </div>
        </div>
    </div>
    
</div>