<div id="activity">
    <h1 id="title"> titre activité </h1>
    <img src="../../../assets/nature.jpg">
    <div id="description"> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum posuere, ex sed placerat sodales, ipsum eros tempor est, sit amet vestibulum arcu urna at dui. Fusce velit odio, facilisis id lacinia nec, dictum at elit. Quisque molestie consequat dolor tristique laoreet. Sed ullamcorper nulla ut elementum condimentum. Maecenas justo lectus, egestas ac eleifend quis, porta sit amet mauris. Aliquam vitae luctus arcu. Cras vestibulum efficitur tortor sed fringilla. Nulla at leo nunc. Vestibulum id porttitor nisl, ut tempor magna. Integer suscipit ultricies nunc, at aliquet lacus. Maecenas luctus elit vel elit aliquet, sed aliquet lorem vulputate. Suspendisse nec quam sed lorem tincidunt accumsan. Curabitur venenatis arcu sem, et porttitor sem volutpat non. Nulla vitae magna vitae libero mattis rhoncus.</div>
</div>