#activity{
    margin-left: 30%;
    margin-top: 10%;
}

#title{
    margin-bottom: 15px;
    margin-left: 18%
}

#description{
    margin-left: 10px;
    margin-top: 20px;
    width: 600px;
}

img{
    max-width: 650px;
}

.list{
    max-width: 50%;
}