<form id="register-form" [formGroup]="registerForm" (ngSubmit)="addUser()" novalidate>
	<div class="row">
		<div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
			<div class="card">
				<div class="card-body">
					<p class="h4 mb-4">Register</p>
					<div class="form-group">
						<input type="text" class="form-control" id="username" placeholder="Enter username"
							formControlName="username">
						<span class="text-danger"
							*ngIf="(registerForm.controls.username.touched || submitted) && registerForm.controls.username.errors?.required">
							Username is required
						</span>
						<span class="text-danger"
							*ngIf="registerForm.controls.username.touched && registerForm.controls.username.errors?.invalidUsername">
							Username should have between 5 and 20 characters, at least 1 uppercase letter, 1 lowercase
							letter and 1 number
						</span>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="email" placeholder="Enter email"
							formControlName="email">
						<span class="text-danger"
							*ngIf="(registerForm.controls.email.touched || submitted) && registerForm.controls.email.errors?.required">
							Email is required
						</span>
						<span class="text-danger"
							*ngIf="registerForm.controls.email.touched && registerForm.controls.email.errors?.email">
							Enter a valid email address
						</span>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password" placeholder="Enter password"
							formControlName="password">
						<span class="text-danger"
							*ngIf="(registerForm.controls.password.touched || submitted) && registerForm.controls.password.errors?.required">
							Password is required
						</span>
						<span class="text-danger"
							*ngIf="registerForm.controls.password.touched && registerForm.controls.password.errors?.invalidPassword">
							Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
							letter and 1 number
						</span>
					</div>

					<div id="message" class="MessageAccount"></div>
					<button mdbBtn color="info" class="my-4" type="submit"><a>Register</a></button>
					<p>Already a member?
						<a routerLink="../login">Login</a>
					</p>
				</div>
			</div>
		</div>
	</div>
</form>