<form id="register-form" [formGroup]="addUserPageForm" (ngSubmit)="addUser()" novalidate>
	<div class="row">
		<div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
			<div class="card">
				<div class="card-body">
					<p class="h4 mb-4">Register</p>
					<div class="form-group">
						<input type="text" class="form-control" id="username" placeholder="Enter username"
							formControlName="username">
						<span class="text-danger"
							*ngIf="(addUserPageForm.controls.username.touched || submitted) && addUserPageForm.controls.username.errors?.required">
							Username is required
						</span>
						<span class="text-danger"
							*ngIf="addUserPageForm.controls.username.touched && addUserPageForm.controls.username.errors?.invalidUsername">
							Username should have between 5 and 20 characters, at least 1 uppercase letter, 1 lowercase
							letter and 1 number
						</span>
					</div>
					<div class="form-group">
						<input type="email" class="form-control" id="email" placeholder="Enter email"
							formControlName="email">
						<span class="text-danger"
							*ngIf="(addUserPageForm.controls.email.touched || submitted) && addUserPageForm.controls.email.errors?.required">
							Email is required
						</span>
						<span class="text-danger"
							*ngIf="addUserPageForm.controls.email.touched && addUserPageForm.controls.email.errors?.email">
							Enter a valid email address
						</span>
					</div>
					<div class="form-group">
						<input type="password" class="form-control" id="password" placeholder="Enter password"
							formControlName="password">
						<span class="text-danger"
							*ngIf="(addUserPageForm.controls.password.touched || submitted) && addUserPageForm.controls.password.errors?.required">
							Password is required
						</span>
						<span class="text-danger"
							*ngIf="addUserPageForm.controls.password.touched && addUserPageForm.controls.password.errors?.invalidPassword">
							Password should have minimum 8 characters, at least 1 uppercase letter, 1 lowercase
							letter and 1 number
						</span>
					</div>
					<div class="form-group">
						<select class="custom-select" (change)="chooseRole($event)" formControlName="role">
							<option value="" disabled>Choose your role</option>
							<option *ngFor="let role of SelectRole" [ngValue]="role">{{role}}</option>
						 </select>
						 <span class="text-danger"
							*ngIf="(addUserPageForm.controls.role.touched || submitted) && addUserPageForm.controls.role.errors?.required">
							Role is required
						</span>
					</div>

					<div id="message" class="MessageAccount"></div>
					<button mdbBtn color="info" class="my-4" type="submit"><a>Add New User</a></button>
				</div>
			</div>
		</div>
	</div>
</form>
