<div class="houseClass">
    <div class="background">
        <div class="input">
            <mat-form-field class="matFormFieldInput" appearance="outline">
                <input [formControl]="researchForm" (ngSubmit)="getHotel()" id="city" matInput
                    placeholder="Où voulez-vous allez ?">
                <mat-icon matSuffix aria-hidden="false" (click)="getHotel()" aria-label="Example home icon"
                    style="cursor: pointer;">search</mat-icon>
            </mat-form-field>
        </div>

    </div>

    <div class="filters">
        <p>Filter</p>
        <div class="filterNote" *ngIf="byName">
            <mat-checkbox class="order" [checked]="true" (click)="orderBy('name')">By name</mat-checkbox>
        </div>
        <div class="filterNote" *ngIf="byName === false">
            <mat-checkbox class="order" [checked]="false" (click)="orderBy('name')">By name</mat-checkbox>
        </div>
        <div class="filterNote" *ngIf="byBestScore">
            <mat-checkbox class="order" [checked]="true" (click)="orderBy('bestScore')">By best score</mat-checkbox>
        </div>
        <div class="filterNote" *ngIf="byBestScore === false">
            <mat-checkbox class="order" [checked]="false" (click)="orderBy('bestScore')">By best score</mat-checkbox>
        </div>
        <div class="filterNote" *ngIf="byWorstScore">
            <mat-checkbox class="order" [checked]="true" (click)="orderBy('worstScore')">By worst score</mat-checkbox>
        </div>
        <div class="filterNote" *ngIf="byWorstScore === false">
            <mat-checkbox class="order" [checked]="false" (click)="orderBy('worstScore')">By worst score</mat-checkbox>
        </div>
    </div>
    <div class="parent">
        <div *ngIf="displayHotels" class="list">
            <div *ngFor="let hotel of result.results" class="card">
                <mat-card class="example-card">
                    <img *ngIf="hotel.images.length === 0" class="displayImg" mat-card-image src="{{test}}" alt="hotel">
                    <img *ngIf="hotel.images.length != 0" class="displayImg" mat-card-image src="{{hotel.images[0].source_url}}" alt="hotel">
                    <h2>{{hotel.name}}</h2>
                    <mat-card-content>
                        <p>
                            {{hotel.snippet}}
                        </p>
                        <p> score : {{hotel.hotels_score}}</p>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
<div>