/* SEARCH BAR */
.background{
    background: rgba(11, 51, 63, 0.637);
    padding-top: 250px;
    height: 200px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 10%;
}

.input{
    margin-top: -150px;
    padding-right: 0%;
    padding-left: 20%;
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-outline {
    background-color: white;
    border-radius: 5px;
  }

mat-form-field {
  width: 70%;
}

/* END SEARCH BAR */

/* FILTER BAR */

.filterBar {
    margin-top : 25px;
    margin-bottom : 25px;
    height : 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden
}

.filterBar div {
    position: relative;
    height : 80px;
    margin : 10px;
    border-radius: 2%;
    border : 0px;
    cursor: pointer;
}

.imgFilterSelectonned, .imgFilter {
    display: block;
    height: 100px;
    width: 200px;
    transition: .5s ease;
    backface-visibility: hidden;
    border-radius : 3%;
}

.imgFilterSelectonned{
    opacity: 0.5;
}

.imgFilter{
    opacity : 1;
}

.imgFilter:hover{
    opacity: 0.5;
}

.centered {
    position: absolute;
    text-align: center;
    bottom: 8px;
    left: 40%;
    font-weight: bold;
    color: rgb(255, 255, 255);
    -webkit-text-stroke: 0.75px rgb(100, 98, 98);
    font-size: 30px;
    transform: translate(-50%, -50%);
  }

.filter:hover .image {
    opacity: 0.3;
}
.filter:hover .centered {
    color: black;
}

/* END FILER BAR */


mat-card {
    width: 800px;
    height: 230px;
    margin-top: -180px;
  }

.displayImg {
    max-width: 300px;
    max-height: 200px;
    float: left;
    padding-left: 5%;
    overflow: hidden;
    padding-top: 1%;
}
.card{
    margin-left: 20%;
    padding-top: 10%;
}

button{
    float: right;
    border-radius: 12px;
}

h2{
    padding-left: 40%;
}

p{
    padding-left: 40%;
    padding-top: 10px;
}


.parent div{
    width : 100%;
    margin: auto;
    clear: none; 
    margin-top: 10%;    
}

.date{
    padding-top: 5%;
    padding-left: 40%;
}

mat-checkbox{
    margin-left: -100px;
}

label{
    font-weight: 100 !important;
}

.title-filter{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 130%;
}

hr{
    width: 75%;
}

.list{
    max-width: 50%;
}

.filters{
    background: rgba(11, 51, 63, 0.637);
    color: ivory;
    font-size: 20px;
    position: absolute;
    left: 1%;
    width: 15%;
    height: 20%;
    top: 30%;
    bottom: 10%;
}

.filterNote{
    padding-left: 40%;
    padding-top: 10px;
    height : 25%;
    font-size: 15px;
    font-weight: lighter;
}