<div class="filters">
    <p>Filter</p>
    <div class="filterNote" *ngIf="byName">
        <mat-checkbox class="order" [checked]="true" (click)="orderBy('name')">By name</mat-checkbox>
    </div>
    <div class="filterNote" *ngIf="byName === false">
        <mat-checkbox class="order" [checked]="false" (click)="orderBy('name')">By name</mat-checkbox>
    </div>
    <div class="filterNote" *ngIf="byBestScore">
        <mat-checkbox class="order" [checked]="true" (click)="orderBy('bestScore')">By best score</mat-checkbox>
    </div>
    <div class="filterNote" *ngIf="byBestScore === false">
        <mat-checkbox class="order" [checked]="false" (click)="orderBy('bestScore')">By best score</mat-checkbox>
    </div>
    <div class="filterNote" *ngIf="byWorstScore">
        <mat-checkbox class="order" [checked]="true" (click)="orderBy('worstScore')">By worst score</mat-checkbox>
    </div>
    <div class="filterNote" *ngIf="byWorstScore === false">
        <mat-checkbox class="order" [checked]="false" (click)="orderBy('worstScore')">By worst score</mat-checkbox>
    </div>
</div>

<div class="eatMainDiv">
    <div class="filterBar">
        <div class="filter" id="cuisine-Wine" (click)="filterBy('cuisine-Wine')">
            <img src="../../../assets/cuisine-Wine.jpeg" [className]="byWine ? 'imgFilterSelectonned' : 'imgFilter'" />
            <div class="centered">Wine</div>
        </div>
        <div class="filter" id="cuisine-Dessert" (click)="filterBy('cuisine-Dessert')">
            <img src="../../../assets/cuisine-Dessert.jpg"
                [className]="byDessert ? 'imgFilterSelectonned' : 'imgFilter'" />
            <div class="centered">Dessert</div>
        </div>
        <div class="filter" id="cuisine-Pizza" (click)="filterBy('cuisine-Pizza')">
            <img src="../../../assets/cuisine-Pizza.jpg" [className]="byPizza ? 'imgFilterSelectonned' : 'imgFilter'" />
            <div class="centered">Pizza</div>
        </div>
        <div class="filter" id="cuisine-Italian" (click)="filterBy('cuisine-Italian')">
            <img src="../../../assets/drapeau_it.jpg" [className]="byItalian ? 'imgFilterSelectonned' : 'imgFilter'" />
            <div class="centered">Italian</div>
        </div>
        <div class="filter" id="cuisine-French" (click)="filterBy('cuisine-French')">
            <img src="../../../assets/drapeau_fr.jpg" [className]="byFrench ? 'imgFilterSelectonned' : 'imgFilter'" />
            <div class="centered">French</div>
        </div>
        <div class="filter" id="cuisine-Steack" (click)="filterBy('cuisine-Steak')">
            <img src="../../../assets/cuisine-Steack.jpg"
                [className]="bySteack ? 'imgFilterSelectonned' : 'imgFilter'" />
            <div class="centered">Steak</div>
        </div>
        <div class="filter" id="cuisine-Seafood" (click)="filterBy('cuisine-Seafood')">
            <img src="../../../assets/cuisine-Seafood.jpg"
                [className]="bySeafood ? 'imgFilterSelectonned' : 'imgFilter'" />
            <div class="centered">Fish</div>
        </div>
    </div>

    <div class="background">
        <div class="input">
            <mat-form-field appearance="outline">
                <input [formControl]="researchForm" (ngSubmit)="getRestaurant()" id="city" matInput
                    placeholder="Where do you want to go ?">
                <mat-icon matSuffix aria-hidden="false" (click)="getRestaurant()" aria-label="Example home icon"
                    style="cursor: pointer;">search</mat-icon>
            </mat-form-field>
        </div>

    </div>
</div>

<div class="parent">
    <div *ngIf="displayRestaurant" class="list">
        <div *ngFor="let restaurant of result.results" class="card">
                <mat-card class="example-card">
                    <img *ngIf="restaurant.images.length === 0" class="displayImg" mat-card-image src="../../../assets/restaurant_logo.jpg" alt="hotel">
                    <img *ngIf="restaurant.images.length != 0" class="displayImg" mat-card-image src="{{restaurant.images[0].source_url}}" alt="hotel">
                    <h2>{{restaurant.name}}</h2>
                    <mat-card-content>
                        <p>
                            {{restaurant.snippet}}
                        </p>
                        <p> score : {{restaurant.score}}</p>
                    </mat-card-content>
                </mat-card>
        </div>

    </div>
</div>