mat-card {
    width: 800px;
    height: 230px;
    margin-top: -180px;
  }
  
.card{
    margin-left: 20%;
    margin-top: 20%;
}

img{

    max-width: 250px;
    max-height: 250px;
    float: left;
    padding-left: 5%;
    padding-top: 5%;
}

button{
    float: right;
    border-radius: 12px;
}

h2{
    padding-left: 40%;
}

p{
    padding-left: 40%;
    padding-top: 10px;
}


.parent div{
    float: left;
    clear: none; 
    margin-top: 10%;
}

.date{
    padding-top: 5%;
    padding-left: 40%;
}

.filter{
    border: solid;
    width: 300px;
    height: 600px;
    margin-left: 3%;
}

mat-checkbox{
    margin-left: -100px;
}


.title-filter{
    font-weight: bold;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 130%;
}

hr{
    width: 75%;
}

#price{
    float: right;
}

#title {
    margin-left: 40%;
    margin-top: 5%;
}
.list{
    max-width: 50%;
}