<form id="login-form" [formGroup]="loginForm" (ngSubmit)="ConnectionUser()" novalidate>
  <div class="row">
    <div class="col-xl-4 offset-xl-4 col-lg-6 offset-lg-3 col-md-8 offset-md-2 col-sm-10 offset-sm-1 col-xs-12">
      <div class="card">
        <div class="body">
          <p class="h4 mb-4">Sign in</p>

          <div class="form-group">
            <input type="username" id="defaultLoginFormUsername" class="form-control mb-4" placeholder="Username"
              formControlName="username">
          </div>
          <div class="form-group">
            <input type="password" id="defaultLoginFormPassword" class="form-control mb-4" placeholder="Password"
              formControlName="password">
          </div>
          <div #myDiv id="message" class="MessageAccount"></div>
          <button mdbBtn color="info" class="my-4" type="submit" ><a>Sign in</a></button>
          <p>Not a member?
            <a routerLink="../register">Register</a>
          </p>

        </div>
      </div>
    </div>
  </div>
</form>