.row {
    margin-top: 10%;
    margin-left: 25%;
    padding-left: 17%;
    background: rgba(11, 51, 63, 0.637);
    width: 50%;
}

.card {
    margin: 10%;
}

.h4, p{
    color: white;
}


a, button{
    color: rgb(0, 3, 10);
}

.MessageAccount{
    color: red;
    text-align: center;
}
