<div>

    <div class="card-activity">
        <div class="card" [routerLink]="['/sportactivity']">
            <img src="../../../assets/velo.jpg" class="image">
            <div class="middle">
                <div class="centered">Vélo</div>
            </div>
          </div>
          <div class="card" [routerLink]="['/cultureactivity']">
            <img src="../../../assets/muse.jpg" class="image">
                <div class="centered">Musé</div>
          </div>
          <div class="card" [routerLink]="['/natureactivity']">
            <img src="../../../assets/nature.jpg" class="image">
            <div class="middle">
                <div class="centered">Nature</div>
            </div>
          </div>
    </div>
    
</div>