.card-activity{
    display: flex;
    padding-top: 16%;
    margin-right: 20%;
    margin-left: 6%;
    padding-bottom: 1%;
}

.card{
    position: relative;
    width: 50%;
    left: 10%;
    cursor: pointer;
}

img{
    width: 400px;
    color: black;
    align-content: center;
}

  .image {
    opacity: 1;
    display: block;
    width: 400px;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .centered {
    position: absolute;
    bottom: 8px;
    left: 15%;
    font-weight: bold;
    color: blanchedalmond;
    font-size: 25px;
    transform: translate(-50%, -50%);
  }
  
  .card:hover .image {
    opacity: 0.3;
  }
  .card:hover .centered {
    color: black;
  }
  
  .text {
    background-color: #04AA6D;
    color: white;
    font-size: 16px;
  }  

  .list{
    max-width: 50%;
}