.demo-table {
    width: 100%;
  }
  
.demo-button-container {
  padding-bottom: 16px;
}

.demo-button + .demo-button {
  margin-left: 8px;
}

.exit{
  background-color: #6379c4;
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 1% 0% 0% 20px;
}

.button1{
  margin: 1% 0% 0% 2%;
}