/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(167, 155, 196, 0.712)), url(../src/assets/background3.jpg); background-attachment:fixed}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
