<mat-toolbar>
    <span class="logo"></span>
    <div *ngIf="username != ''">
        <span class="title" [routerLink]="['/homepage']"> Epic Road </span>
    </div>
    <div *ngIf="username == ''">
        <span class="title" [routerLink]="['/login']"> Epic Road </span>
    </div>
    <div class="example-spacer" *ngIf="username != ''">
        <span >Welcome {{username}}</span>
    </div>
    <div *ngIf="role == 'admin'">
        <span class="titleAdmin" [routerLink]="['/pageAdmin']"> Page Admin </span>
    </div>
    <div *ngIf="username != ''">        
        <button mdbBtn class="exit" 
        data-hover="Logout" type="button" color="primary" (click)="logout()" routerLink="login" gradient="blue"><span class="material-icons" >
          power_settings_new </span>
        </button>
    </div>
    
</mat-toolbar>