.logo{
    content: url(../../../assets/logo.png);
    width: 3%;
    padding-left: 1%;
}

.exit{
    border-radius: 50%;
    background-color: #6379c4;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
}
.title {
    font-weight: bold;
    padding-left: 2%;
    color: #FF5656;
    cursor: pointer;
}

.titleAdmin {
    font-weight: bold;
    padding-left: 2%;
    padding-inline-end: 10px;
    color: #6379c4;
    font-size: 15px;
    cursor: pointer;
}

.titleAdmin:hover {
    font-weight: bold;
    padding-left: 2%;
    padding-inline-end: 10px;
    text-decoration: underline;
    color: #bd2790;
    font-size: 15px;
    cursor: pointer;
}

mat-toolbar{
    background-color: #ffffff;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.342);
}

.example-spacer {
    flex: 1 1 auto;
    text-align: center;
  }